
$base-color-light: #1abc9c;
$base-color-dark: #07544B;
$color-black: #000;
$color-white: #fff;
$color-grey: #f9f9f9;
$color-orange: #f39c12;
$color-yellow: #f1c40f;
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;


@import "./assets/styles/button";
@import "./assets/styles/card";
@import "./assets/styles/contactform";
@import "./assets/styles/content";
@import "./assets/styles/icon";
@import "./assets/styles/layout";
@import "./assets/styles/navbar";
@import "./assets/styles/profile";
@import "./assets/styles/shape";
@import "./assets/styles/skill";
@import "./assets/styles/tool";
@import "./assets/styles/typography";
@import "./assets/styles/mediaqueries";

* {
    padding: 0;
    margin: 0;
}

*, :after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-moz-selection { /* Code for Firefox */
    color: $color-white;
    background: $base-color-light;
}
  
::selection {
    color: $color-white;
    background: $base-color-light;
}

body {
    color: $color-black;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    background-color: $color-grey;
}

main, section, h1, li, img, nav, p, div, footer {
    -moz-transition: width .5s ease-in-out, left 1s ease-in-out;
    -webkit-transition: width .5s ease-in-out, left 1s ease-in-out;
    -moz-transition: width .5s ease-in-out, left 1s ease-in-out;
    -o-transition: width .5s ease-in-out, left 1s ease-in-out;
    transition: all .5s ease-in-out, left 1s ease-in-out;
}