/* 
 bg-main: #0DA795
 bg-secondary-light: #069786
 bg-secondnary-dark: #07544B
 color-orange:
 color-yellow-light:#FCDC00
 color-yellow-dark:#FCDC00
 color-grey:#D6D6D6 / #E5E5E5

*/

* {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
