.card {
    border-radius: 5px;
    background-color: $base-color-light;
    width: 25%;
    margin: 1rem;
    color: $color-white;
    cursor: pointer;
    box-shadow: $box-shadow;
    overflow: hidden;

    &-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;

        &--logo {
            width: 40%;
            text-align: center;
            padding: 1rem;
        }

        &--title {
            width: 60%;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 1.2rem;
            line-height: 1.4;
        }
    }
}

.active-card {
    background-color: $color-yellow !important;
}