.card {
    border-radius: 5px;
    background-color: $color-yellow;
    width: 25%;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
    box-shadow: $box-shadow;
    overflow: hidden;

    &__details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;

        &--logo {
            width: 40%;
            text-align: center;
            padding: 1rem;
        }

        &--title {
            color: inherit;
            text-decoration: none;
            width: 60%;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 1.2rem;
            line-height: 1.4;
        }
    }
}