.content {
    width: 90%;
    margin: auto;

    &__title {
        text-align: center;
        padding: 2rem 0;

        &::before {
            content: "";
            width: 15%;
            display: block;
            margin: 0 auto;
            height: 5px;
            border-radius: 10px;
            background: #decf01;
            transform: scaleX(0);
            transition:transform 0.2s linear;
            transform-origin: center;
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        padding-bottom: 5rem;
        justify-content: center;

        &-link {
            text-transform: uppercase;
            font-size: .9rem;
            font-weight: 600;
        }
    }

    &__skill {
        width: 80%;
        margin: 5rem auto;
                
        &-progress {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &__card {
        display: flex;
        flex-direction: row;
        padding-bottom: 4rem;
        // justify-content: center;
    }

    &__img {
        height: 250px;
        background-color: #000;
    }
}

.clip {
    background-color: #0da795;
    
    &--top {
        height: 80%;
        width: 95%;
        margin-left: 5%;
        border-radius: 80px 0 0 80px;
    }
    
    &--bottom {
        clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
    }

}