.main {
    .navigation {
        height: 10vh;
    }
    
    .hero {
        height: 90vh;
        margin-bottom: 4rem;
    }
}

.main__container {
    
    .container {
        
        &__project {
            background-color: #f9f9f9;
        }
    }
    
}

.footer {
    background-color: #f9f9f9;
    
    &-social {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }
}

[class*="container__"]:hover .content .content__title::before {
    transform: scaleX(1);
    transform-origin: center;
}

.footer:hover .content .content__title::before {
    transform: scaleX(1);
    transform-origin: center;
}