.hero {
    position: relative;
    width: 80%;
    margin: auto;

    &__owner {
        position: absolute;
        top: 17%;
        left: 65%;
        width: 35%;
    }

    &__job {
        position: absolute;
        top: 40%;
        left: 0;
        width: 40%;
    }

    &__social {
        padding: 6rem 0 2rem 0;
    }

    &__icon {
        padding: 1rem 0;
    }
}