.background-clip {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -999;

    &--1 {
        z-index: -1;
        clip-path: polygon(0 0, 40% 0, 9% 14%, 0 55%);
        background-color: #0da795;
    }

    &--2 {
        z-index: -2;
        clip-path: polygon(0 0, 40% 0, 11% 15%, 0 55%);
        background-color: #07544B;
    }

    &--3 {
        z-index: -3;
        clip-path: polygon(40% 0, 0 0, 0 55%);
        background-color: #0da795;
    }

    &--4 {
        z-index: -1;
        clip-path: polygon(100% 100%, 100% 45%, 95% 85%, 60% 100%);
        background-color: #0da795;
    }

    &--5 {
        z-index: -2;
        clip-path: polygon(100% 100%, 100% 45%, 93% 84%, 60% 100%);
        background-color: #07544B;
    }

    &--6 {
        z-index: -3;
        clip-path: polygon(100% 45%, 60% 100%, 100% 100%);
        background-color: #0da795;
    }
}