.link {
    text-decoration: none;
    cursor: pointer;
}

.copyright {
    font-size: 1rem;
    color: #fff;
    align-self: center;
}

.p {

    &__r {

        &-1 {
            padding-right: 1rem;
        }
    }

    &__t {
        &-1 {

        }

        &-2 {
            padding-top: 2rem;
        }
    }
}

.m {
    &__b {
        &-1 {
            margin-bottom: 1rem;
        }

        &-2 {
            margin-bottom: 2rem;

            
        }
    }
}